[submodule "/home/ctodie/.zplug"]
	path = /home/ctodie/.zplug
	url = https://github.com/zplug/zplug
[submodule ".zplug"]
	path = .zplug
	url = https://github.com/zplug/zplug
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".prompt"]
	path = .prompt
	url = https://github.com/nojhan/liquidprompt
