{
  "args": [
    "mcp",
    "--tools=agent"
  ],
  "command": "{{ if eq .chezmoi.os "darwin" }}{{ .chezmoi.homeDir }}/.local/bin/reveried{{ else }}{{ .chezmoi.homeDir }}/.local/bin/engram{{ end }}"
}
